<header>
  <div id="sidebar_toggle"></div>
  <h1>{{#formatDate name}}{{/formatDate}}
    <span class="total selected">{{length}}</span>
  </h1>
</header>
<main>
  <div id="add">
    <span></span>
    <a href="#">Add new Todo</a>
  </div>
  <div id="todos"></div>
</main>
