<td class="list_item {{#if complete}}complete{{/if}}">
  <span class="box"></span>
  <span class="title">{{title}} - {{#if dueDate}}{{#formatDate dueDate}}{{/formatDate}}{{else}}No Due Date{{/if}}</span>
</td>
<td class="delete"></td>
